<!-- Copyright (C) 2017-2020 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<nav
  fxFlex
  fxLayout="row nowrap"
  class="breadcrumb"
>
  <ng-container
    *ngFor="let breadcrumb of breadcrumbList; last as isLast"
    >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      class="breadcrumb-item"
    >
      <a
        *ngIf="breadcrumb.type != 'category'; else category"
        mat-button
        routerLinkActive="active-link"
        [routerLink]="breadcrumb.type === 'workspaces' ? ['/workspaces', workspace.id] : ['/workspaces', workspace.id, 'petals', breadcrumb.type, breadcrumb.id]"
        [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="breadcrumb.name"
        [matTooltipShowDelay]="1000"
        class="breadcrumb-item-link"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon *ngIf="breadcrumb.svgIcon && isLargeScreen" mat-list-icon color="primary" [svgIcon]="breadcrumb.svgIcon" class="breadcrumb-icon"></mat-icon>
          <mat-icon *ngIf="breadcrumb.icon && isLargeScreen" mat-list-icon color="primary" class="breadcrumb-icon">{{ breadcrumb.icon }}</mat-icon>
          <h4 class="margin-left-x1 breadcrumb-name">
            {{ (breadcrumb.type === 'workspaces' ? workspace.name : breadcrumb.name) }}
          </h4>
        </div>
      </a>
      <ng-template #category>
        <div fxLayout="row" fxLayoutAlign="start center" class="breadcrumb-category">
          <h4 class="breadcrumb-category-name">{{ breadcrumb.name }}</h4>
        </div>
      </ng-template>
    </div>
    <span *ngIf="!isLast" class="margin-x1 item-split">/</span>
  </ng-container>
</nav>
