/**
 * Copyright (C) 2017-2020 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* You can add global styles to this file, and also import other style files */

// main
@import 'node_modules/@angular/material/theming';
@include mat-core();
@import './styles/shared/utils';
@import './styles/shared/colors';
@import './styles/shared/shared';

// themes
@import './styles/themes/default-theme.scss';
@import './styles/themes/blue-theme.scss';
@import './styles/themes/dark-blue-theme.scss';
@import './styles/themes/blue-grey-theme.scss';
@import './styles/themes/green-theme.scss';
@import './styles/themes/purple-theme.scss';
@import './styles/themes/nature-theme.scss';
@import './styles/themes/material-theme.scss';
@import './styles/themes/unicorn-theme.scss';

@import './styles/shared/shared.scss-theme';
@import './styles/shared/utils.scss-theme';
@import 'app/features/cockpit/cockpit.component.scss-theme';
@import 'app/features/cockpit/sidebar/sidebar.component.scss-theme';
@import 'app/features/cockpit/workspaces/workspace/workspace.component.scss-theme';
@import 'app/features/cockpit/workspaces/topology-view/petals-menu/petals-menu-view/petals-menu-view.component.scss-theme';
@import 'app/features/cockpit/workspaces/topology-view/petals-content/petals-bus-view/petals-bus-view.component.scss-theme';
@import 'app/features/cockpit/workspaces/topology-view/petals-content/petals-container-view/petals-container-view.component.scss-theme';
@import 'app/features/cockpit/workspaces/topology-view/petals-content/petals-component-view/petals-component-view.component.scss-theme.scss';
@import 'app/features/cockpit/workspaces/topology-view/petals-content/petals-service-assembly-view/petals-service-assembly-view.component.scss-theme.scss';
@import 'app/features/cockpit/workspaces/services-view/services-menu/services-menu-view/services-menu-view.component.scss-theme';
@import 'app/features/cockpit/workspaces/header/breadcrumb/breadcrumb.component.scss-theme';
@import 'app/features/cockpit/workspaces/workspace-overview/workspace-overview.component.scss-theme';
@import 'app/features/cockpit/workspaces/workspace-element/workspace-element.component.scss-theme';
@import 'app/features/cockpit/workspaces/workspaces-list/workspaces-list.component.scss-theme';
@import 'app/features/cockpit/workspaces/workspaces.component.scss-theme';
@import 'app/shared/components/generate-icon/generate-icon.component.scss-theme';
@import 'app/shared/components/menu/menu.component.scss-theme';
@import 'app/app.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include custom-breadcrumb-theme($theme);
  @include custom-color-theme($theme);
  @include custom-cockpit-theme($theme);
  @include custom-menu-theme($theme);
  @include custom-petals-menu-theme($theme);
  @include custom-bus-view-theme($theme);
  @include custom-component-view-theme($theme);
  @include custom-container-view-theme($theme);
  @include custom-services-menu-theme($theme);
  @include custom-services-unit-view-theme($theme);
  @include custom-shared-theme($theme);
  @include custom-sidebar-theme($theme);
  @include custom-sidenav-theme($theme);
  @include custom-wrapper-theme($theme);
  @include custom-workspaces-theme($theme);
  @include custom-workspace-overview-theme($theme);
  @include custom-modal-workspaces-theme($theme);
  @include custom-generate-icon-theme($theme);
  @include custom-body-theme($theme);
}

.default-theme {
  @include angular-material-theme($petals-theme);
  @include custom-components-theme($petals-theme);
}

.blue-theme {
  @include angular-material-theme($petals-blue-theme);
  @include custom-components-theme($petals-blue-theme);
}

.dark-blue-theme {
  @include angular-material-theme($petals-dark-blue-theme);
  @include custom-components-theme($petals-dark-blue-theme);
}

.blue-grey-theme {
  @include angular-material-theme($petals-blue-grey-theme);
  @include custom-components-theme($petals-blue-grey-theme);
}

.green-theme {
  @include angular-material-theme($petals-green-theme);
  @include custom-components-theme($petals-green-theme);
}

.purple-theme {
  @include angular-material-theme($petals-purple-theme);
  @include custom-components-theme($petals-purple-theme);
}

.nature-theme {
  @include angular-material-theme($petals-nature-theme);
  @include custom-components-theme($petals-nature-theme);
}

.material-theme {
  @include angular-material-theme($petals-material-theme);
  @include custom-components-theme($petals-material-theme);
}

.unicorn-theme {
  @include angular-material-theme($petals-unicorn-theme);
  @include custom-components-theme($petals-unicorn-theme);
}
